.terms [type="checkbox"] {
    all: unset;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .25rem;
    
}

.terms label{
    margin-left: .5rem;
    font: var(--text-sm);

    & span{
        color: var(--brand-light);
        font: 600 var(--text-sm);
    }
}

.terms [type="checkbox"]:hover {
    border: 1px solid var(--input-placeholder);
    background-image: url(../../asset/Icons/check.svg);
    background-size: cover;
}

.terms [type="checkbox"]:checked {

    background-image: url(../../asset/Icons/check-checked.svg);
    background-size: cover;
    border: 1px solid var(--brand-light);
    
}

