.file {

    margin-top: 1.75rem;
    align-items: center;


    & .campo-upload{
        align-items: center;
        gap: .75rem;
    }

    & .title-capa{
        padding-bottom: 1.5rem;
    }

    & .input-upload-inner{
        display: flex;
        background-color: var(--shape-button);
        align-items: center;
        justify-content: center;
        padding: .65625rem .75rem;
        height: 40px;
        border-radius: .5rem;
        cursor: pointer;

        & .custom-file{
            display: flex;
            gap: .5rem;
            cursor: pointer;

            & span{
                font: 600 var(--text-sm);
            }
        }

        &:has(img) img{
            width: 1rem;
            height: 1rem;
            filter: brightness(0) saturate(100%) invert(58%) sepia(75%) saturate(1586%) hue-rotate(185deg) brightness(105%) contrast(101%);
        }

        &:hover{
            background-color: var(--shape-hover);
        }
    
    }

    & .error{
        display: flex;
        align-items: center;
        gap: .25rem;
        margin-top: .5rem;

        font: var(--text-sm);
        color: var(--danger);

        & img{
            width: 1rem;
            height: 1rem;
            filter: brightness(0) saturate(100%) invert(41%) sepia(93%) saturate(1106%) hue-rotate(327deg) brightness(101%) contrast(100%);
        }


    }

    &:not(.focus):valid + .error {
        display: none;
    }

    & .file-name{
            height: 3rem;
        }

}

input[type="file"] {
    all: unset;
    display: none; 

}


