input, 
textarea{
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);

    margin-block: .75rem;
    padding: .8125rem 1rem;

    font: var(--text-md);
    caret-color: var(--text-body);
    color: var(--text-body);
}

label{
    font: var(--text-sm);
    color: var(--text-body);
    margin-bottom: .75rem;
}


input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within{
    outline: none;
    border: 1px solid #59B2FF;
}

input[type="datetime-local"]{
    position: relative;

    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }

}
.event-info .flex{
    gap: 1.25rem;
}


.input-wrapper:has([disabled]) {
    opacity: .5;
}

input{
    &[disabled]{
        background-color: var(--surface-disabled);

        border: 1px solid var(--stroke-default);
        
        color: var(--text-primary);
    }

    &:invalid{
        border: 0.125rem solid var(--semantic-error);
    }

    & + small{
        font: var(--text-sm);
        color: #78716C;

        display: inline-block;
        margin-top: .25rem;
    }

    &[required] + .error{
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--text-sm);
        color: var(--semantic-error);

        margin-top: .25rem;
    }

    &:not(.focus):valid + error {
        display: none;
    }

}