input, textarea{
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);

    padding: .8125rem 1rem;


    font: var(--text-md);
    caret-color: var(--text-body);
    color: var(--text-body);

}

.input-wrapper, .textarea-wrapper{
    margin-block: .75rem;

    & label{
    font: var(--text-sm);
    color: var(--text-body);
    padding-bottom: .75rem;
    display: block;


  }
}

input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within{
    outline: none;
    border: 1px solid #59B2FF;
}

input[type="datetime-local"]{
    position: relative;

    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }

}

.event-info .flex{
    gap: 1.25rem;

}


.input-wrapper:has([disabled]) {
    opacity: .5;
}

input, textarea{
    &[disabled]{
        background-color: var(--surface-disabled);

        border: 1px solid var(--stroke-default);
        
        color: var(--text-primary);
    }

    &[required] + .error{
        display: flex;
        align-items: center;
        gap: .25rem;
        margin-top: .5rem;

        font: var(--text-sm);
        color: var(--danger);

        & img{
            width: 1rem;
            height: 1rem;
            filter: brightness(0) saturate(100%) invert(41%) sepia(93%) saturate(1106%) hue-rotate(327deg) brightness(101%) contrast(100%);
        }


    }

    &:not(.focus):valid + .error {
        display: none;
    }

}

input[type="datetime-local"] {
    color: var(--input-placeholder);
    text-transform: uppercase;
}