.main-color{
    margin-top: 1.5rem;

    & .colors{
        all: unset;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        & input{
            all: unset;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 100%;
            border: 4px solid var(--shape-button);

            &:hover{
                cursor: pointer;
            }

            &:checked{
            outline: 1px solid var(--brand-light);          
            }
        }
    
    }
}

input[type="radio"][value*="blue"]{
            background-color: var(--brand-light);
}

input[type="radio"][value*="violet"]{
            background-color: var(--navy);
}

input[type="radio"][value*="puple"]{
            background-color: var(--purple);
}

input[type="radio"][value*="fuschia"]{
            background-color: var(--fuschia);
}

input[type="radio"][value*="pink"]{
            background-color: var(--pink);
}

input[type="radio"][value*="red"]{
            background-color: var(--danger);
}

input[type="radio"][value*="orange"]{
            background-color: var(--orange);
}

input[type="radio"][value*="yellow"]{
            background-color: var(--yellow);
}

input[type="radio"][value*="lime"]{
            background-color: var(--lime);
}

input[type="radio"][value*="green"]{
            background-color: var(--green);
}

input[type="radio"][value*="cyan"]{
            background-color: var(--cyan);
}



