.title-tipo-fim{
    font: var(--text-sm);
    color: var(--text-body);
}

.radio-wrapper{
    display: flex;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    max-height: 50px;
    max-width: 100%;
    border-radius: .5rem;
    margin-top: 12px;
    gap: .25rem;
    justify-content: center;
    

}

.radio-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    margin: .25rem;
    width: 100%;
    gap: .5rem;

    & label{
        all: unset;
        display: block;
        justify-items: center;
        font: var(--text-sm);
    }
    
    & input,
    & input:hover{
        all: unset;
        inset: 0;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        cursor: pointer;
    }

    & svg{
        justify-content: center;
    }

    &:has(:checked){
    background-color: var(--input-stroke);
        & label{
        font: 600 var(--text-sm);
        }
        & svg path{
            fill: var(--brand-light);
        }    
    }
}