@import url(fields/index.css);
fieldset{
    border: none;
}

.subtitle-event{

    display: flex;
    gap: .75rem;
    padding-bottom: 1.5rem;

    span{
        width: 1.5rem;
        height: 1.5rem;
        background: url(../asset/Icons/calendar.svg) center/contain;
        background-size: cover;
    }

    h3{
        font: var(h3);
    }
}

.estilo-e-capa{
    gap: 1rem;
}
