*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Font Leckerli One */

    --font-family-lo: "Leckerli One", cursive;
    --logo: 2.5rem var(--font-family-lo);

    /* Font Baloo2 */
    --font-family-baloo: "Baloo 2", sans-serif;
    --h2: 1.75rem var(--font-family-baloo);
    --h3: bold 1.125rem var(--font-family-baloo);

    /* Font Open Sans */
    --font-family-open: "Open Sans", sans-serif;
    --text-md: 1rem var(--font-family-open);
    --text-sm: .875rem var(--font-family-open);
    --text-xs: .75rem var(--font-family-open);

    /* Cores */
    /* Brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
    /* Accent Colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;
    /* Feedback */
    --danger: #FF5959;
    /* Input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    /* Shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
    /* Text */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

body{
    background-color: var(--shape-background);
    color: var(--text-heading);
    font: var(--text-md);

}

img{
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 1;
}

.flex-3{
    flex: 2;
}

.line{
    width: 100%;
    height: 1px;
    background-color: var(--input-stroke);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}